h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}

p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 56px;
}

.container {
  max-width: 1294px;
}

header .container .navbar {
  display: flex;
  justify-content: space-between;
}
header .container .navbar .navbar-nav .nav-item .nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}
header .container .navbar .header_icon {
  display: flex;
}
header .container .navbar .header_icon li {
  list-style: none;
  margin-right: 25px;
  padding-top: 15px;
}

.dropdown-menu .dropdown-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}

.new_phones .container {
  padding-top: 28px;
  margin: auto;
}
.new_phones .container .carousel-inner .carousel-item {
  padding: 145px 0 127px;
  background: #DCE5E2;
  border-radius: 32px;
  padding-left: 56px;
  position: relative;
}
.new_phones .container .carousel-inner .carousel-item h1 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}
.new_phones .container .carousel-inner .carousel-item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  max-width: 565px;
  margin-bottom: 44px;
}
.new_phones .container .carousel-inner .carousel-item a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding: 14px 53px;
  border: 1px solid #000000;
  border-radius: 200px;
  transition: 0.5s;
}
.new_phones .container .carousel-inner .carousel-item a:hover {
  background: black;
  color: white;
  text-decoration: none;
}
.new_phones .container .carousel-inner .carousel-item img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel-control-prev {
  left: 19px;
  width: 15px;
}

.carousel-control-next {
  right: 19px;
  width: 15px;
}

.carousel-control-next-icon {
  background-image: url("../img/arrow_r.svg");
}

.carousel-control-prev-icon {
  background-image: url("../img/arrow_l.svg");
}

.carousel-indicators li {
  width: 194px;
  height: 2px;
  background-color: black;
  margin: 0 17px;
}

.offers {
  padding: 75px 0 50px;
  margin: auto;
}
.offers .container {
  box-sizing: content-box;
}
.offers .container .categoties {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1318px) {
  .offers .container .categoties {
    padding-right: 30px;
    justify-content: space-around;
  }
}
.offers .container .categoties .laptop-watch .laptops {
  width: 639px;
  height: 472px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  position: relative;
  margin-bottom: 50px;
  transition: 0.5s;
}
.offers .container .categoties .laptop-watch .laptops:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 638px) {
  .offers .container .categoties .laptop-watch .laptops {
    max-width: 639px;
    width: 100%;
  }
}
.offers .container .categoties .laptop-watch .laptops img {
  position: absolute;
  top: 0;
  left: 42px;
}
@media screen and (max-width: 638px) {
  .offers .container .categoties .laptop-watch .laptops img {
    position: relative;
    width: 100%;
    left: 0;
  }
}
.offers .container .categoties .laptop-watch .laptops p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  position: absolute;
  bottom: -20px;
  right: 42px;
}
.offers .container .categoties .laptop-watch .laptops p span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  display: block;
}
.offers .container .categoties .laptop-watch .watch {
  width: 639px;
  height: 270px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  position: relative;
  margin-bottom: 50px;
  transition: 0.5s;
}
@media screen and (max-width: 638px) {
  .offers .container .categoties .laptop-watch .watch {
    max-width: 639px;
    width: 100%;
  }
}
.offers .container .categoties .laptop-watch .watch:hover {
  transform: scale(1.05);
}
.offers .container .categoties .laptop-watch .watch img {
  position: absolute;
  top: 0;
  left: 42px;
}
@media screen and (max-width: 638px) {
  .offers .container .categoties .laptop-watch .watch img {
    position: relative;
    left: 0;
    bottom: 0;
  }
}
.offers .container .categoties .laptop-watch .watch p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  position: absolute;
  bottom: 77px;
  right: 42px;
}
.offers .container .categoties .laptop-watch .watch p span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  display: block;
}
.offers .container .categoties .phones {
  min-width: 312px;
  height: 792px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  position: relative;
  margin-bottom: 50px;
  transition: 0.5s;
}
@media screen and (max-width: 638px) {
  .offers .container .categoties .phones {
    width: 100%;
  }
}
.offers .container .categoties .phones:hover {
  transform: scale(1.05);
}
.offers .container .categoties .phones img {
  position: absolute;
  top: 144px;
  right: 0;
}
.offers .container .categoties .phones p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  position: absolute;
  bottom: 144px;
  right: 31px;
}
.offers .container .categoties .phones p span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  display: block;
}
.offers .container .categoties .tablet {
  min-width: 312px;
  height: 792px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  position: relative;
  transition: 0.5s;
}
@media screen and (max-width: 638px) {
  .offers .container .categoties .tablet {
    width: 100%;
  }
}
.offers .container .categoties .tablet:hover {
  transform: scale(1.05);
}
.offers .container .categoties .tablet img {
  position: absolute;
  bottom: 115px;
  right: 0;
}
.offers .container .categoties .tablet p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  position: absolute;
  top: 114px;
  right: 40px;
}
.offers .container .categoties .tablet p span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  display: block;
}

.selled {
  padding: 50px 0;
}
.selled .shopcards .card {
  width: 300px;
  border: none;
}
.selled .shopcards .card .card-body {
  padding: 0 41px 0 0;
}
.selled .shopcards .card .card-body .card-title {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  text-align: start;
  margin-bottom: 9px;
}
.selled .shopcards .card .card-body .card-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: start;
  color: #4B4B4B;
  margin-bottom: 8px;
}
.selled .shopcards .card .card-body .card-price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
  color: #000000;
  margin-bottom: 0;
}

.around .describe .product {
  background: #F8F9FA;
  border-radius: 16px;
  max-width: 413px;
  height: 453px;
  position: relative;
}
.around .describe .product img {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
}

.place {
  padding: 47px 0 24px;
}
@media screen and (max-width: 834px) {
  .place .row {
    display: block;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .place .row {
    display: block;
  }
}
.place .row .place-image {
  width: 100%;
  position: relative;
  background-image: url("../img/book.png");
  height: 420px;
  background-size: cover;
  border-radius: 16px;
}
.place .row .place-text h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 28px;
}

/*# sourceMappingURL=main.css.map */
